
.flex-container {
    height: 150px;
}

.partners {
    flex: 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

img.logo-verifi,
img.logo-ethoca {
    height: 25px;
    margin-bottom: 15px;
}

.big-number-panel .content {
    line-height: 1;
    font-size: 45px;
    font-weight: lighter;
}

.color-ethoca {
    color: #94c957;
}

.color-verifi {
    color: #004890;
}

.data-point-overlay {
    position: absolute;
    top: 260px;
    left: 0;
    width: 100%;
    line-height: 1.5;
    pointer-events: none;
    display: none;
}

.stats {
    padding: 0 24px;
}

.stats .legend-stats {
    text-align: center;
    border-top: 1px solid #d9d9d9;
    padding-top: 5px;
}

.stats .legend-stats > div {
    display: inline-block;
}

.stats .legend-stats .caption {
    font-size: 11px;
    font-weight: 600;
    line-height: 15px;
    padding-bottom: 5px;
    text-align: left;
}

.stats .legend-stats .amounts {
    float: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.stats .legend-stats .bank-col{
    width: 41%;
    padding-right: 20px;
}

.stats .legend-stats .legend-col,
.stats .legend-stats .chargeback_count-col,
.stats .legend-stats .ratio-col {
    width: 19%;
}

.stats .legend-stats .chargeback-count-col {
    padding: 0 14%;
}

#bin_number_legends_overlay_preventionAnalytics {
    top: 230px;
}

#partners_logos_legends_overlay_preventionAnalytics {
    top: 200px;
}

#price_point_legends_overlay_preventionAnalytics {
    top: 230px;
}
